
*.jsonl
*.tsv
*.txt
*.icloud
HBMP/.data/multinli/multinli_1.0/paper.pdf
HBMP/.vector_cache/glove.840B.300d.txt.pt
HBMP/.vector_cache/glove.840B.300d.zip
HBMP/.vector_cache/scitail_glove.840B.300d.pt
HBMP/glove.840B.300d
HBMP/__pycache__/embeddings.cpython-36.pyc
HBMP/__pycache__/corpora.cpython-36.pyc
HBMP/__pycache__/classifier.cpython-36.pyc
HBMP/.data/snli/snli_1.0/Icon
HBMP/.data/snli/__MACOSX/snli_1.0/._Icon
HBMP/.data/snli/__MACOSX/._snli_1.0
HBMP/.data/scitail/__MACOSX/SciTailV1/._dgem_format
HBMP/.data/scitail/__MACOSX/SciTailV1/._snli_format
HBMP/.data/scitail/__MACOSX/SciTailV1/._tsv_format
HBMP/.data/scitail/__MACOSX/._SciTailV1
HBMP/.data/multinli/multinli_1.0/Icon
HBMP/.data/multinli/__MACOSX/multinli_1.0/._.DS_Store
HBMP/.data/multinli/__MACOSX/multinli_1.0/._Icon
HBMP/.data/multinli/__MACOSX/multinli_1.0/._paper.pdf
HBMP/.data/multinli/__MACOSX/._multinli_1.0
HBMP/.vector_cache/snli_glove.840B.300d.pt
HBMP/.vector_cache/snli_glove.840B.300d.pt
